__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.DS_Store

# Credentials
_netrc
.netrc
*.env
.env.local

# Intermediate data chunks
data/*_chunk_*.npy

# Logs and test images
*.log
*.png
data/*_smart.npy

# Test & Notebook caches
.pytest_cache/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
